@charset "utf-8";

/*글꼴 사이즈를 반응형으로 만들기*/

@media (max-width:360px){html{font-size:11px;}
html input[type="radio"],[type="checkbox"] { height:1.1em; width:1.1em; }
}
@media (min-width:361px) and (max-width:399px){html{font-size:12px;}
html input[type="radio"],[type="checkbox"] { height:1.15em; width:1.15em; }
}
@media (min-width:400px) and (max-width:439px){html{font-size:13px;}
html input[type="radio"],[type="checkbox"] { height:1.2em; width:1.2em; }
}
@media (min-width:440px) and (max-width:479px){html{font-size:14px;}
html input[type="radio"],[type="checkbox"] { height:1.25em; width:1.25em; }
}
@media (min-width:480px) and (max-width:519px){html{font-size:15px;}
html input[type="radio"],[type="checkbox"] { height:1.3em; width:1.3em; }
}
@media (min-width:520px) and (max-width:559px){html{font-size:16px;}
html input[type="radio"],[type="checkbox"] { height:1.35em; width:1.35em; }
}
@media (min-width:560px) and (max-width:599px){html{font-size:17px;}
html input[type="radio"],[type="checkbox"] { height:1.4em; width:1.4em; }
}
@media (min-width:600px) and (max-width:639px){html{font-size:18px;}
html input[type="radio"],[type="checkbox"] { height:1.45em; width:1.45em; }
}
@media (min-width:640px) and (max-width:679px){html{font-size:19px;}
html input[type="radio"],[type="checkbox"] { height:1.5em; width:1.5em; }
}
@media (min-width:680px) and (max-width:719px){html{font-size:20px;}
html input[type="radio"],[type="checkbox"] { height:1.55em; width:1.55em; }
}
@media (min-width:720px) and (max-width:759px){html{font-size:21px;}
html input[type="radio"],[type="checkbox"] { height:1.6em; width:1.6em; }
}
@media (min-width:760px) and (max-width:799px){html{font-size:22px;}
html input[type="radio"],[type="checkbox"] { height:1.65em; width:1.65em; }
}
@media (min-width:800px) and (max-width:839px){html{font-size:23px;}
html input[type="radio"],[type="checkbox"] { height:1.7em; width:1.7em; }
}
@media (min-width:840px) and (max-width:879px){html{font-size:24px;}
html input[type="radio"],[type="checkbox"] { height:1.75em; width:1.75em;  }
}
@media (min-width:880px){html{font-size:25px;}
html input[type="radio"],[type="checkbox"] { height:1.8em; width:1.8em; }
}
